/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v18-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
  padding: 0;
   margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  /*display: none; спорная тема, будет ли файл прикрепляться?
  надо гуглить, но с ее помощью решается вопрос
  с кнопками на ишаке 11
  в форме с визуализацией*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  overflow: hidden;

  z-index: -1;
}

/*---Header---*/

.main-header {
  background-color: #fff;
}


@media (min-width: 320px) {

  .header-container{
  display: -webkit-flex;
     display: -moz-flex;
      display: -ms-flex;
       display: -o-flex;
          display: flex;
  justify-content: space-between;

  height: 60px;
  width: 100%;
  margin: 0 auto;

  vertical-align: middle;
  }


  .main-logo{
    display: inline-block;
    vertical-align: top;
  }
  .logo-link{
    display: inline-block;
    margin-top: 13px;
    margin-left: 19px;

  }
  .main-nav {
    display: none;
    vertical-align: middle;
  }

  .logo-img-desctop {
    width: 46px;
    height: 34px;

  }

  .main-nav__list {
    list-style-type: none;
  }

  .main-nav__item {
    display: inline-block;
  }

  .main-nav__link {
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;


    font-family: roboto, arial, sans-serif;
    color: #2e323d;
    font-size: 18px;
    line-height: 60px;
  }

  .header-burger {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/header-burger.png);
    cursor:pointer;
    vertical-align: middle;

    border:0;
    }

    .header-cross {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;


    font-size:50px;
    text-align: center;
    font-weight: bold;

    cursor:pointer;
    vertical-align: middle;

    border:0;
  }

  .burger-menu {
    position:absolute;
    z-index:10;
    top: 60px;

    /*width:100%;*/

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    /*text-align:center;*/
    font-size:18px;
    padding-left: 0px;

    background: #e9e9f1;
  }


  .burger-menu ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
    list-style-image: none;
  }

  .burger-menu li {
    display: block;
    width: 200px;
    padding:15px 0 15px 20px;

    color: #3d4a57;

    border-bottom:#e9e9f1 1px solid;
       border-top:#e9e9f1 1px solid;
  }

  .burger-menu li:hover {
    background:#fff;
    border-bottom:#ddd 1px solid;
       border-top:#ddd 1px solid;
  }

  .button-callback {
    display: inline-block;
    height: 35px;
    padding: 0 20px;
    margin-top: 10px;
    margin-right: 15px;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:center;
    font-size:14px;
    line-height: 35px;
    color: #fff;

    border-radius: 18px;
    background-color: #fa8c15;
  }


  .header-right {
    display: block;
  }

  .callback-options{
    display: none;
  }

}

@media (min-width: 768px) {
  .header-container{

    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding-left: 19px;
  }

  .logo-link {
    margin-left: 29px;
  }
  .logo-img-desctop {
    width: 46px;
    height: 34px;
  }

  .button-callback {
    margin-right: 35px;
  }
}

@media (min-width: 1280px) {
  .burger-menu{
    display: none;
  }
  .header-burger {
    display: none;
  }
  .header-cross {
    display: none;
  }
  .main-nav{
    display: inline-block;
    height: 80px;
    line-height: 80px;
  }
  .header-container{
    height: 80px;
    width: 1170px;
    margin: 0 auto;
    padding-left: 0px;
  }
  .logo-link {
    margin-top: 15px;
    margin-right: 55px;
  }
  .logo-img-desctop {
    width: 70px;
    height: 52px;

  }

  .main-nav__link {
    position: relative;
    line-height: 80px;
    margin-right: 22px;
  }

  .main-nav__link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;

    width: 100%;
    height: 1px;
    background-color: #fff;

    transition: all 0.2s linear;
  }

  .main-nav__link:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;

    background-color: #501b88;

    transform: scaleY(5);
  }

  .button-callback {
    display: inline-block;
    /*width: 140px;*/
    flex-shrink: 0;
    height: 40px;
    padding: 0 23px;
    margin-top: 21px;
    /*margin-right: 26px;*/
    margin-left: 32px;
    margin-right: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;



    font-size:16px;
    line-height: 40px;
    color: #fff;

    border-radius: 18px;
  }
  .header-contacts{
    width: 400px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    /*justify-content: space-between;*/
  }
  .header-number{
    display: inline-block;
    width: 100%;

    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:right;
    font-size:20px;
    line-height: 24px;
    color: #000;
    vertical-align: top;
  }

  .callback-text {
    display: inline-block;
    width: 100%;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:right;
    font-size:16px;

    color: #000;
    text-decoration: underline;
  }

  .callback-options {
    display: block;
    margin-top: 22px;
    width: 175px;
    margin-right: 0;
  }
}

/*              Закончил адаптивную полностью первую линию хедора           */

@media (min-width: 320px) {
  .wellcome {
    height: 350px;

    background-image: url(../img/bgnd1-phone2.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
  }

  .main-title {
    display: inline-block;
    width: 260px;
    margin: 0 auto;
    margin-top: 75px;
    padding: 5px 10px;

    background-color: rgba(46,50,61,0.75);
    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:center;
    font-size:20px;


    color: #fff;
  }

  .main-title-discription {
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px 10px;

    background-color: rgba(46,50,61,0.75);
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:center;
    font-size:16px;

    color: #fff;
  }
  .button-callback__wellcome {
    margin-top: 35px;
    margin-right: 0;
  }

}

@media (min-width: 768px) {
  .wellcome {
    height: 350px;

    background-image: url(../img/bgnd1-tablet.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .main-title {
    display: inline-block;
    width: 500px;
    margin: 0 auto;
    margin-top: 85px;
    padding: 5px 10px;

    background-color: rgba(46,50,61,0.6);
    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:center;
    font-size:30px;


    color: #fff;
  }

  .main-title-discription {
    display: block;
    width: 415px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;

    background-color: rgba(46,50,61,0.6);
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:center;
    font-size:20px;

    color: #fff;
  }
  .button-callback__wellcome {
    margin-top: 30px;
    margin-right: 0;
  }


}


@media (min-width: 1280px) {
  .wellcome {
  height: 720px;

  background-image: url(../img/bgnd1.jpg);

  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }

  .main-title {
    display: inline-block;
    width: 770px;
    margin: 0 auto;
    margin-top: 240px;
    padding: 5px 10px;

    background-color: rgba(46,50,61,0.6);
    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:center;
    font-size:48px;


    color: #fff;
  }

  .main-title-discription {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px 10px;

    background-color: rgba(46,50,61,0.6);

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:center;
    font-size:24px;
    color: #fff;
  }
  .button-callback__wellcome {
    margin-top: 75px;
    margin-right: 0;
    font-size: 18px;
  }

  .header-left{
    display: -webkit-flex;
       display: -moz-flex;
        display: -ms-flex;
         display: -o-flex;
            display: flex;
  }
  /*пофиксилась менюха для IE11*/

}


/*              Закончил стилизацию wellcome блока с адаптивом и mobile-first              */


@media (min-width: 320px) {
  .about-company__gradient-container{
    position: relative;

    width: 290px;
    height: 390px;
    margin: 0 auto;
    margin-top: 40px;


    background-image: url(../img/gradi.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 20%;
  }

  .about-company__container{
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 7px;

    width: 275px;
    height: 375px;

    background-color: #fff;
  }

  .about-company-title{
    padding-top: 30px;
    padding-left: 15px;

    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:left;
    font-size:20px;
    color: #2e323d;
  }

  .about-company-item{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 17px;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:left;
    font-size:14px;
    line-height: 21px;
    color: #2e323d;
  }

  .about-company-mark{
    background-color: #fbae5b;
    padding: 1px;
  }

  .about-company__foto-title{
    width: 220px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:center;
    font-size:20px;
    line-height: 26px;
    color: #2e323d;
  }

/*слайдер*/
  .about-company__foto-slider{
    /*position: relative;*/
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .about-company__slider-item {
   /* padding-right: 5px;
    padding-left: 5px;*/
  }

  .about-company {
    position: relative;
  }

  /*красивые дотсы по дизайну*/

  .slick-dots {
    position: absolute;
    top: auto;
    bottom: 5px;
  }

  .slick-dots li button{
    position: relative;

    width: 12px;
    height: 12px;
    border: 0px solid #000;
    border-radius: 50%;
    background-color: #2e323d;
    opacity: 0.5;
  }

  .slick-dots li button:before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
    transition: all ease 0.3s;
  }

  .slick-dots li.slick-active button:before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 50%;
  }


  /*стилизую стрелочки*/

  .slick-prev, .slick-next{
    z-index: 1001;

    width: 30px;
    height: 40px;

    background-color: rgba(46,50,61,0.5);
  }
  .slick-prev{
    left: 0px;
  }
  .slick-next{
    right: 0px;
  }

  .slick-prev:before{
    content:'';
    display: block;
    width: 11px;
    height: 40px;
    margin-left: 8px;


    background-image: url(../img/prev.png);
            -webkit-background-size: auto;
            background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .slick-next:before{
    content:'';
    display: block;
    width: 11px;
    height: 40px;
    margin-left: 10px;

    background-image: url(../img/prev.png);
            -webkit-background-size: auto;
            background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transform: rotate(180deg);
  }

}

@media (min-width: 768px) {
  .about-company__gradient-container{
    position: relative;

    width: 535px;
    height: 260px;
    margin: 0 auto;
    margin-top: 60px;


    background-image: url(../img/gradi.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .about-company__container{
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;

    width: 519px;
    height: 244px;

    background-color: #fff;
  }

  .about-company-title{
    padding-top: 20px;
    padding-left: 35px;

    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:left;
    font-size:30px;
    color: #2e323d;
  }

  .about-company-item{
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 50px;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:left;
    font-size:14px;
    line-height: 21px;
    color: #2e323d;
  }
  .about-company__foto-title{
    width: 100%;
  }
  .about-company__foto-slider{
    /*position: relative;*/
    width: 690px;
    height: 385px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .slick-dots {
    position: absolute;
    top: auto;
    bottom: 20px;
  }

}

@media (min-width: 1280px) {
  .about-company{
    width: 1170px;
    margin: 0 auto;
  }

  .about-company__gradient-container{
    position: relative;

    width: 570px;
    height: 500px;
    margin: 0;
    margin-top: 120px;


    background-image: url(../img/gradi.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .about-company__container{
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;

    width: 554px;
    height: 484px;

    background-color: #fff;
  }

  .about-company-title{
    padding-top: 65px;
    padding-left: 60px;

    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:left;
    font-size:40px;
    color: #2e323d;
  }

  .about-company-item{
    padding-top: 20px;
    padding-left: 60px;
    width: 337px;


    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:left;
    font-size:16px;
    line-height: 24px;
    color: #2e323d;
  }

  .about-company__foto-slider{
    position: absolute;
    top: 120px;
    right: 0;
    z-index: 999;

    width: 700px;
    height: 390px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .about-company__foto-title{
    position: absolute;
    top: 55px;
    right: 5px;

    padding-top: 0;
    width: 380px;
    margin-right: 0;
    text-align:right;
    font-size:24px;
    line-height: 30px;
  }

}

/*Закончил блок со слайдером о компании*/

/*Начинаю блок с этапами - далеко не мобайл ферст,
ибо сложная структура*/

.stages{
  width: 1170px;
  margin: 0 auto;
  margin-top: 150px;
}

.stages-title{
  margin-bottom: 60px;

  font-family: roboto, Arial, sans-serif;
  font-weight:500;
  text-align:center;
  font-size:48px;
  line-height: 52px;
  color: #2e323d;
}

.stages-container{
  display: -webkit-flex;
     display: -moz-flex;
      display: -ms-flex;
       display: -o-flex;
          display: flex;
-webkit-flex-wrap: wrap;
   -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
     -o-flex-wrap: wrap;
        flex-wrap: wrap;
justify-content: space-between;

  list-style-type:none;
}

.stages-item{
  position: relative;

  width: 370px;
  height: 370px;
  background-color: #49505c;
  margin-bottom: 35px;

  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.stages-item.stages-number-1{
  background-image: url(../img/step-1.jpg);
}
.stages-item.stages-number-2{
  background-image: url(../img/step-2.jpg);
}
.stages-item.stages-number-3{
  background-image: url(../img/step-3.jpg);
}
.stages-item.stages-number-4{
  background-image: url(../img/step-4.jpg);
}
.stages-item.stages-number-5{
  background-image: url(../img/step-5.jpg);
}
.stages-item.stages-number-6{
  background-image: url(../img/step-6.jpg);
}

.stages-description{
  margin: 0 auto;
  margin-top: 205px;
  width: 220px;

  font-family: roboto, Arial, sans-serif;
  font-weight:400;
  text-align:center;
  font-size:18px;
  line-height: 24px;
  color: #fff;
}

.stages-number{
  position: absolute;
  bottom: 35px;

  width: 100%;
  font-family: roboto, Arial, sans-serif;
  font-weight:400;
  text-align:center;
  font-size:24px;
  line-height: 30px;
  color: #fa8c15;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .stages{
    width: 690px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .stages-title{
    margin-bottom: 35px;

    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    text-align:center;
    font-size:30px;
    line-height: 52px;
    color: #2e323d;
  }

  .stages-item{
    width: 330px;
    height: 330px;
    background-color: #49505c;
    margin-bottom: 30px;
  }
  .stages-description{
    margin: 0 auto;
    margin-top: 190px;
    width: 240px;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    text-align:center;
    font-size:16px;
    line-height: 24px;
    color: #fff;
  }
  .stages-number{
    bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {

    .stages{
      width: 320px;
      margin: 0 auto;
      margin-top: 40px;
    }

    .stages-title{
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .stages-description{
      font-size: 18px;
    }

    .stages-item{
      margin-bottom: 0;
    }

    .stages-container--mobile{
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      margin-bottom: 40px;
    }

    ol .slick-next.slick-arrow{
      height: 370px;
      width: 100px;
      padding-left: 70px;
      background-color: rgba(0,0,0,0);
    }

    ol .slick-prev.slick-arrow{
      width: 100px;
      padding-right: 65px;
      height: 370px;
      background-color: rgba(0,0,0,0);
    }
  }

/*              Закончил блок с этапами работы              */

/*              Заявка на визуализацию              */
@media (min-width: 320px) {
  .visualization {
    width: 100%;
    height: 670px;
    margin-top: 40px;

    background-image: url(../img/visualization.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
  }
  .visualization-container{
    width: 310px;
    margin: 0 auto;
  }
  .visualization-title{
    padding-top: 40px;
    width: 245px;

    font-family: roboto, Arial, sans-serif;
    font-weight:500;
    font-size:20px;
    line-height: 26px;
    color: #fff;
  }
  .visualization-description{
    margin-top: 25px;
    width: 280px;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size:16px;
    line-height: 24px;
    color: #fff;
  }
  .visualization-description-side{
    display: block;
    margin: 0 auto;
    margin-left: 15px;
  }
  .visualization-form {
    display: block;
    margin-top: 30px;
    width: 300px;
    text-align: center;
    padding-top: 20px;

    border: 5px solid rgba(255,255,255, 0.75);
  }
  .visualization-form-input {
    width: 280px;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #4a4a4a;

    background-color: rgba(255,255,255, 0.75);

    border: 0px solid #bdc9d5;
    border-radius: 20px;
  }
  .visualization-form-input:focus {
    outline: 0;
    -webkit-box-shadow: inset 0px 0px 10px 1px #fa8c15;
            box-shadow: inset 0px 0px 10px 1px #fa8c15;
  }

  .form-flex-container{
    /*width: 340px;*/
    padding-left: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    justify-content: space-between;
  }
  .visualization__form-buttom {
    display: inline-block;
    /*flex-shrink: 1;*/
    width: 280px;
    height: 40px;
    margin-bottom: 15px;
    padding:0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 0px;
    border-radius: 20px;
    background-color: #fa8c15;

    vertical-align: middle;
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #fff;
    line-height: 40px;

    cursor: pointer;
    overflow: hidden;
  }
  .visualization__form-buttom:focus {
    outline: 0;
    -webkit-box-shadow: inset 0px 0px 10px 1px #fa8c15;
            box-shadow: inset 0px 0px 10px 1px #fa8c15;
  }

  .visualization-check {
    padding-left: 10px;
    padding-bottom: 15px;
    width: 280px;
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 14px;
    color: #fff;
    /*line-height: 40px;*/
  }

  .visualization-check a{
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 14px;
    color: #fa8c15;
    text-decoration: underline;
  }


}
@media (min-width: 1280px) {
  .visualization {
    height: 560px;
    margin-top: 95px;

    background-position: 50% 50%;
  }

  .visualization-container{
    width: 1170px;
  }

  .visualization-title{
    padding-top: 120px;
    width: 435px;

    font-size:36px;
    line-height: 42px;
  }
  .visualization-description{
    margin-top: 45px;
    width: 455px;

    font-size:20px;
    line-height: 28px;
  }

  .visualization-description-side{
    display: inline-block;
    margin-right: 270px;
  }
  .visualization-form {
    display: inline-block;
    width: 340px;
    text-align: center;
  }

  .visualization-form-input {
    width: 340px;
    height: 40px;
    padding-left: 25px;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #4a4a4a;

    background-color: rgba(255,255,255, 0.75);

    border: 0px solid #bdc9d5;
    border-radius: 20px;
  }
  .visualization-form-input:focus {
    outline: 0;
    -webkit-box-shadow: inset 0px 0px 10px 1px #fa8c15;
            box-shadow: inset 0px 0px 10px 1px #fa8c15;
  }

  .form-flex-container{
    width: 340px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  .visualization__form-buttom {
    display: inline-block;
    /*flex-shrink: 1;*/
    width: 160px;
    height: 40px;
    margin-bottom: 15px;
    padding:0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 0px;
    border-radius: 20px;
    background-color: #fa8c15;

    vertical-align: middle;
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #fff;
    line-height: 40px;

    cursor: pointer;
    overflow: hidden;
  }
  .visualization__form-buttom:focus {
    outline: 0;
    -webkit-box-shadow: inset 0px 0px 10px 1px #fa8c15;
            box-shadow: inset 0px 0px 10px 1px #fa8c15;
  }

  .visualization-check {
    width: 340px;
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 14px;
    color: #fff;
    /*line-height: 40px;*/
  }

  .visualization-check a{
    font-family: roboto, Arial, sans-serif;
    font-weight:400;
    font-size: 14px;
    color: #fa8c15;
    text-decoration: underline;
  }

}
